.modal-container.leaderboard {
    height: 600px;
    overflow: auto;
}

.modal-container.leaderboard .daily-monthly-toggle .special.key {
    background-color: #ddd;
    color: white;
}

.modal-container.leaderboard .daily-monthly-toggle .special.key:hover {
    background-color: #f78725;
    color: white;
}

.modal-container.leaderboard .daily-monthly-toggle .special.key.active {
    background-color: #3498db;
    color: white;
}

@media (min-width: 968px){
    .modal-container.leaderboard {
        height:unset;
        overflow:unset;
    }
}

.name.clickable {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.words-list {
    max-height: 300px;
    overflow-y: auto;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.words-list li {
    margin: 0.2rem 0;
    font-family: monospace;
    list-style: none;
    padding: 10px;
    border: 1px solid #007bff;
    width: 50%;
    border-radius: 20px;
}
